/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS Variables */

:root{
    --clr-primary: #15803d;
    --clr-primary-bg: #f0fdf4; 

    --clr-danger: #dc2626;

    --bg-dark: #0f172a;
    --bg: #f1f5f9;
    --bg-surface: #ffffff;

    --text: #000000;
    --text-muted: #909090;

    --radius: 12px;

    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 160px;

    --ff1: 'Plus Jakarta Sans', system-ui, sans-serif;
    --ff2: 'DM Mono', monospace;

    --fs-sm: .75rem;
    --fs-md: .875rem;
    --fs-lg: 1rem;
    --fs-xl: 1.5rem;

    --fw-b: 700;
    --fw-sb: 600;
    --fw-md: 400;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "sidebar  topbar"
    "sidebar  content"
    "sidebar  total"
    "sidebar  footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 52px 1fr auto 36px;

    font-family: var(--ff1);
    font-size: var(--fs-md);
}

body > *{
    /* border: 2px solid red; */
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-muted);
}


/* aside */

aside {
    grid-area: sidebar;
    overflow-y: auto;

    background-color: var(--bg-dark);
    color: var(--text-muted);
}

header {
    grid-area: topbar;
}

/* main */

main {
    grid-area: content;
    overflow-y: auto;

    background-color: var(--bg);
}

.search{
    position: relative;
}

.search-bar{
    width: 100%;
}

.suggestions{
    position: absolute;
    width: 100%;
}

.receipt-table{
    overflow: auto;
}

.receipt-total{
    grid-area: total;
    background-color: var(--clr-primary-bg);
}

footer {
    grid-area: footer;
}

/* utilities */
.surface{
    background-color: var(--bg-surface);
}

.hidden{
    display: none;
}
