/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS Variables */

:root{
    --clr-primary: #15803d;
    --clr-primary-bg: #f0fdf4; 

    --clr-danger: #dc2626;

    --bg-dark: #0f172a;
    --bg: #f1f5f9;
    --bg-surface: #ffffff;

    --text: #000000;
    --text-muted: #333333;

    --radius: 12px;

    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 160px;

    --ff1: 'Plus Jakarta Sans', system-ui, sans-serif;
    --ff2: 'DM Mono', monospace;

    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 16px;
    --fs-xl: 24px;

    --fw-b: 700;
    --fw-sb: 600;
    --fw-md: 400;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "sidebar  topbar"
    "sidebar  content"
    "sidebar  footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 52px 1fr 36px;
}

body > *{
    border: 2px solid red;
}

aside {
    grid-area: sidebar;
    overflow-y: auto;
}

header {
    grid-area: topbar;
}

main {
    grid-area: content;
    overflow-y: auto;
}

footer {
    grid-area: footer;
}

